 

<main class="main">
  <div class="container">
    <div class="wrapper">
      <form class="form">
        <div class="form__header">
          <h1 class="form__h1">{{title}}</h1>
        </div>
         <div class=form__div>
            <label class="form__label">Enter Name: </label>
            <input class="form__input"
                type="text"
                [(ngModel)]="name"
                required
                name="name"
            />
            <button class="form__button" (click)="showData()">Найти</button>
        </div>
      </form>
    </div>

      <div class="outuser">
           <div class="outuser__div">
            <h2 class="outuser__p">{{user.name}}</h2>
            <p class="outuser__p">Login:  {{user.login}}</p>
            <p class="outuser__p"><img class="outuser__img" src="{{user.avatar_url}}"/></p>
            <p class="outuser__p" *ngIf="user.public_repos; else noRepos">Public repos: {{user.public_repos}}</p>
            
            <ng-template #noRepos>
              <p>Public repos: <span class="message">no active repositories</span></p>
            </ng-template>
            
            <p class="outuser__p">Public gists: {{user.public_gists}}</p>
            <p class="outuser__p">Updated at: {{user.updated_at}}</p>
            </div>
            
      </div>
      
    </div>
</main>

 

<router-outlet />
